/* Known limitation: by default, Chrome and Safari on OS X allow very limited styling of `select`, unless a `border` property is set. */
/**** GENERAL [optional] NICENESS ****/
/* I don't like margins on headers (Ivan) */
h1, h2, h3, h4, h5, h6 {
  margin: 0; }

/* Disable text selection for UI... (Ivan) */
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default; }

/* ...but keep selection enabled for text! (Ivan) */
p, p *, input, textarea, .selectable, .selectable * {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  cursor: inherit; }

/* Give links and inputs behaviour like real GUI elements (Ivan) */
a, a *, input[type="submit"], input[type="checkbox"], button {
  cursor: pointer; }

/* Style links like their surrounding content (Ivan) */
a {
  color: inherit;
  text-decoration: none; }

/* Embedded contexts should be big and beefy! (Ivan) */
iframe, object, canvas, progress, video {
  display: block; }

/**** BEST PRACTICES ****/
/* The page should fill the page! (Ivan) */
html {
  width: 100%;
  height: 100%; }

/* Include padding and borders in width calculations (Paul Irish: paulirish.com/2012/box-sizing-border-box-ftw) */
*, *:before, *:after {
  box-sizing: border-box; }

/* Text inputs deserve a text cursor! (Ivan) */
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], textarea {
  cursor: text; }

/* Remove the 2px border around iframes (Ivan) */
iframe {
  border: 0; }

/**** CROSS-BROWSER STANDARDIZATION ****/
/* Set default font to Arial on Windows, Helvetica on Mac */
html {
  font-family: sans-serif; }

/* Remove default margin */
body {
  margin: 0; }

/* Set display: block
 * 1. all HTML5 elements in IE 8/9
 * 2. details and summary in IE 10/11 and Firefox
 * 3. main in IE 11.
 */
article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
  display: block; }

/* Fix IE 8/9. */
progress, audio {
  display: inline-block; }

/* Fix Chrome, Firefox, and Opera. */
progress {
  vertical-align: baseline; }

/* Prevent modern browsers from displaying audio without controls. */
audio:not([controls]) {
  display: none; }

/* Address [hidden] styling not present in IE 8/9/10 */
[hidden] {
  display: none; }

/* Hide the template element in IE 8/9/11, Safari, and Firefox < 22 */
template {
  display: none; }

/* Fix active links having a grey background in IE 10 */
a {
  background-color: transparent; }

/* Remove those annoying link glows */
a:active, a:hover {
  outline: 0; }

/* Don't default to bolder in Firefox, Safari, and Chrome */
b, strong {
  font-weight: bold; }

/* Standarize h1 values within section and article contexts in Firefox, Safari, and Chrome. */
h1 {
  font-size: 2em; }

/* Fix inconsistent and variable font size in all browsers. */
small {
  font-size: 80%; }

/* Prevent `sub` and `sup` affecting `line-height` in all browsers. */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.2em; }

/* Remove border when inside `a` element in IE 8/9/10. */
img {
  border: 0; }

/* Correct overflow not hidden in IE 9/10/11. */
svg:not(:root) {
  overflow: hidden; }

/* Address margin not present in IE 8/9 and Safari. */
figure {
  margin: 1em 40px; }

/* Address differences between Firefox and other browsers. */
hr {
  height: 0; }

/* Contain overflow in all browsers. */
pre {
  overflow: auto; }

/* Address odd `em`-unit font size rendering in all browsers. */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* 1. Correct color not being inherited. Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox, Safari, and Chrome.
 */
button, input, optgroup, select, textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/* Address `overflow` set to `hidden` in IE 8/9/10/11. */
button {
  overflow: visible; }

/* 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type `input` and others.
 */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/* Re-set default cursor for disabled elements. */
button[disabled], html input[disabled] {
  cursor: default; }

/* Remove inner padding and border in Firefox */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* Address Firefox setting `line-height` on `input` using `!important` in the UA stylesheet. */
input {
  line-height: normal; }

/* It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"], input[type="radio"] {
  padding: 0; }

/* Remove default vertical scrollbar in IE 8/9/10/11. */
textarea {
  overflow: auto; }

/* Remove most spacing between table cells. */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

[editable], [editable] * {
  cursor: move; }

body.editor-dragging * {
  cursor: none; }

editor-button {
  cursor: pointer; }

editor-container {
  display: none; }
  editor-container.show {
    display: block; }
  editor-container textarea {
    position: fixed;
    z-index: 10000;
    padding: 0.2em;
    left: 0.3em;
    bottom: 2em;
    width: 12em;
    height: calc(100vh - 2.3em);
    background: rgba(255, 255, 255, 0.95); }

.browser-support {
  display: block; }

.js.postmessage.video.audio.localstorage.svg.inlinesvg.webaudio.pointerevents .browser-support {
  display: none; }

.browser-support {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #002;
  background: rgba(0, 0, 17, 0.85); }
  .browser-support.hide {
    display: none; }
  .browser-support .support-popup {
    position: relative;
    top: 20%;
    width: 40em;
    max-width: 90%;
    margin: 0 auto;
    padding: 1.2em 1.6em;
    text-align: center;
    background: white;
    border: 2px solid black;
    box-shadow: 0 0.8em 2em -0.8em black; }
  .browser-support h1 {
    display: inline-block;
    color: #F03;
    font-size: 2em; }
  .browser-support p {
    width: auto;
    text-align: left; }
  .browser-support .support-buttons {
    text-align: right;
    font-weight: bold; }
    .browser-support .support-buttons > * {
      display: inline-block;
      padding: 0.4em 0.8em;
      border: 2px solid black;
      cursor: pointer; }
      .browser-support .support-buttons > *:hover {
        background: #F6F6F6; }

call-out {
  position: absolute;
  top: 0; }
  call-out::before {
    content: "";
    position: absolute;
    width: 0.8em;
    height: 0.8em;
    margin: -0.4em;
    border: 4px solid #0F7;
    border-radius: 0.8em;
    background: rgba(255, 255, 255, 0.3);
    -webkit-animation: call-out-pulse 4s linear infinite;
            animation: call-out-pulse 4s linear infinite; }
  call-out[open] {
    z-index: 10; }
    call-out[open] call-out-label {
      visibility: visible; }
  call-out[seen]::before {
    border: 4px solid #777; }
  call-out[top] {
    -webkit-transform: translate(-50%, -100%);
            transform: translate(-50%, -100%); }
    call-out[top]::before, call-out[top] call-out-label::after {
      top: 100%;
      left: 50%; }
    call-out[top] call-out-label {
      top: -1.2em; }
      call-out[top] call-out-label::after {
        -webkit-transform: translate(-50%, 0%);
                transform: translate(-50%, 0%);
        border-top: 0.8em solid white; }
  call-out[left] {
    -webkit-transform: translate(-100%, -50%);
            transform: translate(-100%, -50%); }
    call-out[left]::before, call-out[left] call-out-label::after {
      top: 50%;
      left: 100%; }
    call-out[left] call-out-label {
      left: -1.2em; }
      call-out[left] call-out-label::after {
        -webkit-transform: translate(0%, -50%);
                transform: translate(0%, -50%);
        border-left: 0.8em solid white; }
  call-out[right] {
    -webkit-transform: translate(0%, -50%);
            transform: translate(0%, -50%); }
    call-out[right]::before, call-out[right] call-out-label::after {
      top: 50%;
      left: 0%; }
    call-out[right] call-out-label {
      right: -1.2em; }
      call-out[right] call-out-label::after {
        -webkit-transform: translate(-98%, -50%);
                transform: translate(-98%, -50%);
        border-right: 0.8em solid white; }
  call-out[bottom] {
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%); }
    call-out[bottom]::before, call-out[bottom] call-out-label::after {
      top: 0%;
      left: 50%; }
    call-out[bottom] call-out-label {
      bottom: -1.2em; }
      call-out[bottom] call-out-label::after {
        -webkit-transform: translate(-50%, -98%);
                transform: translate(-50%, -98%);
        border-bottom: 0.8em solid white; }

call-out-label {
  display: block;
  visibility: hidden;
  position: relative;
  padding: 0.5em;
  max-width: 12em;
  text-align: center;
  background: white;
  box-shadow: 0 0.2em 2em -0.5em black; }
  call-out-label::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 0.8em solid transparent; }

@-webkit-keyframes call-out-pulse {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; }

  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; }

  to {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0; } }

@keyframes call-out-pulse {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; }

  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; }

  to {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0; } }

cd-hud {
  position: fixed;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1002;
  left: 0;
  bottom: 0;
  padding: 0.2em 0 0.1em;
  font-size: 1.1em;
  color: rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.5);
  box-shadow: -2px 5px 16px -3px black;
  -webkit-animation: cd-hud-container-fade-in 0.5s 0.5s both;
          animation: cd-hud-container-fade-in 0.5s 0.5s both;
  transition: color 0.5s, background 0.5s, border-color 0.5s; }
  cd-hud:hover {
    color: rgba(0, 0, 0, 0.5);
    background: white; }
  cd-hud > * {
    padding: 0 0.6em; }
  cd-hud > *:hover {
    color: black; }
  cd-hud * {
    display: inline-block;
    line-height: 1.6em;
    vertical-align: middle; }

@-webkit-keyframes cd-hud-container-fade-in {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@keyframes cd-hud-container-fade-in {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

current-page-indicator {
  display: inline-block;
  -webkit-order: 4;
      -ms-flex-order: 4;
          order: 4;
  cursor: pointer;
  text-transform: capitalize; }

menu-button {
  display: block;
  cursor: pointer;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1; }

mute-button {
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
  fill: currentColor; }
  mute-button * {
    cursor: pointer; }
  mute-button path {
    -webkit-animation: slide-in 0.3s both ease-out;
            animation: slide-in 0.3s both ease-out;
    -webkit-transform-origin: 1em 50%;
            transform-origin: 1em 50%; }
    mute-button path:nth-child(1) {
      -webkit-animation-delay: 0.3s;
              animation-delay: 0.3s; }
    mute-button path:nth-child(2) {
      -webkit-animation-delay: 0.2s;
              animation-delay: 0.2s; }
    mute-button path:nth-child(3) {
      -webkit-animation-delay: 0.1s;
              animation-delay: 0.1s; }
  mute-button .muted path {
    -webkit-animation: slide-out 0.3s both ease-in;
            animation: slide-out 0.3s both ease-in; }
    mute-button .muted path:nth-child(1) {
      -webkit-animation-delay: 0.1s;
              animation-delay: 0.1s; }
    mute-button .muted path:nth-child(2) {
      -webkit-animation-delay: 0.2s;
              animation-delay: 0.2s; }
    mute-button .muted path:nth-child(3) {
      -webkit-animation-delay: 0.3s;
              animation-delay: 0.3s; }

@-webkit-keyframes slide-in {
  from {
    -webkit-transform: scale(0);
            transform: scale(0); }

  to {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes slide-in {
  from {
    -webkit-transform: scale(0);
            transform: scale(0); }

  to {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@-webkit-keyframes slide-out {
  from {
    -webkit-transform: scale(1);
            transform: scale(1); }

  to {
    -webkit-transform: scale(0);
            transform: scale(0); } }

@keyframes slide-out {
  from {
    -webkit-transform: scale(1);
            transform: scale(1); }

  to {
    -webkit-transform: scale(0);
            transform: scale(0); } }

score-display {
  -webkit-order: 3;
      -ms-flex-order: 3;
          order: 3; }
  score-display * {
    cursor: pointer; }
  score-display svg {
    width: 1.2em;
    height: 1.2em;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    transition: -webkit-transform 1s;
    transition: transform 1s; }
  score-display .disk {
    fill: currentColor;
    transition: opacity 1s; }
  score-display .ring {
    stroke: currentColor;
    stroke-width: 4;
    stroke-dashoffset: 0;
    stroke-dasharray: 50.2;
    fill: transparent;
    transition: opacity 1s; }
  score-display .check {
    fill: currentColor;
    opacity: 0;
    transition: opacity 1s; }
  score-display.complete svg {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  score-display.complete .disk, score-display.complete .ring {
    opacity: 0; }
  score-display.complete .check {
    opacity: 1; }

cd-modal {
  position: fixed;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  transition: opacity 0.2s; }
  cd-modal.hiding {
    opacity: 0;
    transition: opacity 0.5s; }
  cd-modal.hide {
    opacity: 0;
    display: none; }
  cd-modal modal-popup {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 90vw;
    min-height: 10em;
    padding: 1.2em 1.6em;
    background: white;
    box-shadow: 0 0.8em 2em -0.8em black; }
  cd-modal h1 {
    color: black;
    font-size: 2em; }
  cd-modal p {
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto; }
  cd-modal modal-buttons {
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
    font-weight: bold; }
    cd-modal modal-buttons > * {
      display: inline-block;
      padding: 0.4em 0.8em;
      border: 2px solid black;
      cursor: pointer; }
      cd-modal modal-buttons > *:hover {
        background: #F6F6F6; }

.locked-page {
  padding-bottom: 4em; }

.hidden-by-locked-page {
  display: none; }

.switcher-button {
  display: block;
  cursor: pointer;
  text-transform: capitalize;
  padding: 0.3em 0.8em; }
  .switcher-button:first-child {
    padding-top: 0.6em; }
  .switcher-button:hover {
    background: #EEE; }
  .switcher-button.locked {
    opacity: 0.4;
    cursor: default;
    pointer-events: none; }
    .switcher-button.locked:hover {
      background: transparent; }

page-switcher {
  position: fixed;
  display: block;
  z-index: 1001;
  overflow: auto;
  max-height: 100vh;
  bottom: 0;
  left: 0;
  padding-bottom: 0;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 0px 4px -2px black; }
  page-switcher.closed {
    display: none; }

scroll-hint {
  display: block;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center; }
  scroll-hint scroll-hint-tab {
    display: inline-block;
    padding: 0.5em;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    font-size: 1.2em;
    color: rgba(0, 0, 0, 0.6);
    background: linear-gradient(rgba(250, 250, 250, 0.89), rgba(250, 250, 250, 0.97), rgba(250, 250, 250, 0.89));
    box-shadow: 0 0px 24px -16px black;
    transition: -webkit-transform 0.3s cubic-bezier(0.8, 0.8, 0.5, 1);
    transition: transform 0.3s cubic-bezier(0.8, 0.8, 0.5, 1); }
    scroll-hint scroll-hint-tab[icon-text]::before {
      content: attr(icon-text);
      display: inline-block;
      width: 1.8em;
      height: 1.8em;
      margin-right: 0.3em;
      font-size: 1.2em;
      line-height: 2em;
      color: currentColor;
      background: rgba(255, 255, 255, 0.7);
      box-shadow: 0 0px 8px -5px black; }

score-area {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 2000;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden; }

score-point {
  position: absolute;
  top: -5px;
  left: -5px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: green;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }

cd-flow-arrow {
  display: inline-block;
  width: 0;
  height: 0;
  margin-top: -0.2em;
  margin-left: 1em;
  margin-right: 0.5em;
  border-top: 1em solid transparent;
  border-left: 1.5em solid currentColor;
  border-bottom: 1em solid transparent;
  vertical-align: middle; }
  cd-flow-arrow::before {
    content: "";
    display: inline-block;
    width: 1.7em;
    height: 0.8em;
    margin-left: -3.2em;
    margin-top: -0.4em;
    vertical-align: top;
    background-color: currentColor;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em; }

cd-map {
  position: relative; }
  cd-map[fit], cd-map [fit] {
    width: 100%; }
  cd-map [pin] {
    position: absolute;
    top: 0;
    margin-top: 0;
    left: 0; }

cd-page {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 64rem;
  min-height: 100%;
  margin: 0 auto;
  box-shadow: 64px 0px 72px -128px black, -64px 0px 72px -128px black; }
  @media (max-width: 64rem) {
    cd-page {
      box-shadow: none; } }
  @media (max-width: 667px) {
    cd-page {
      font-size: 0.9em; } }
  @media (max-width: 375px) {
    cd-page {
      font-size: 0.8em; } }

cd-page > :first-child {
  margin-top: 8em; }

cd-page > :last-child {
  margin-bottom: 8em; }

cd-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }
  cd-row > * {
    -webkit-flex: 1 1 0;
        -ms-flex: 1 1 0;
            flex: 1 1 0; }
  @media (max-width: 667px) {
    cd-row {
      -webkit-flex-flow: column nowrap;
          -ms-flex-flow: column nowrap;
              flex-flow: column nowrap; }
      cd-row > * {
        -webkit-flex: 0 0 auto;
            -ms-flex: 0 0 auto;
                flex: 0 0 auto; }
      cd-row > * + * {
        margin-top: 1em; }
      cd-row .stack-1 {
        -webkit-order: 1;
            -ms-flex-order: 1;
                order: 1; }
      cd-row .stack-2 {
        -webkit-order: 2;
            -ms-flex-order: 2;
                order: 2; }
      cd-row .stack-3 {
        -webkit-order: 3;
            -ms-flex-order: 3;
                order: 3; }
      cd-row .stack-4 {
        -webkit-order: 4;
            -ms-flex-order: 4;
                order: 4; }
      cd-row .stack-5 {
        -webkit-order: 5;
            -ms-flex-order: 5;
                order: 5; } }
  @media (min-width: 668px) {
    cd-row .size-1 {
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1; }

    cd-row .size-2 {
      -webkit-flex-grow: 2;
          -ms-flex-positive: 2;
              flex-grow: 2; }

    cd-row .size-3 {
      -webkit-flex-grow: 3;
          -ms-flex-positive: 3;
              flex-grow: 3; }

    cd-row .size-4 {
      -webkit-flex-grow: 4;
          -ms-flex-positive: 4;
              flex-grow: 4; }

    cd-row .size-5 {
      -webkit-flex-grow: 5;
          -ms-flex-positive: 5;
              flex-grow: 5; }
 }

cd-text-bubble {
  display: block;
  width: 100%;
  padding: 1em;
  border-radius: 1em;
  background-color: #AAA;
  color: white; }
  @media (max-width: 667px) {
    cd-text-bubble {
      border-radius: 0; } }

body {
  padding: 0.5em 0; }

figure {
  margin: 0 0 1em;
  padding: 0; }

h1 {
  margin: 0 0.3em 0.3em;
  text-align: center;
  font-size: 3em;
  text-shadow: 0 2px white, 0 -2px white, 0 -3px white, 2px 0 white, -2px 0 white, 3px 0 white, 4px 0 white, -4px 0 white;
  background-image: linear-gradient(white, white), linear-gradient(white, white), linear-gradient(currentColor, currentColor);
  background-size: 0.1em 2px, 0.1em 2px, 1px 2px;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-position: left bottom 0.1em, right bottom 0.1em, left bottom 0.1em; }
  h1::-moz-selection {
    text-shadow: 0 2px #AAA, 0 -2px #AAA, 0 -3px #AAA, 2px 0 #AAA, -2px 0 #AAA, 3px 0 #AAA, 4px 0 #AAA, -4px 0 #AAA;
    background: #AAA; }
  h1::selection {
    text-shadow: 0 2px #AAA, 0 -2px #AAA, 0 -3px #AAA, 2px 0 #AAA, -2px 0 #AAA, 3px 0 #AAA, 4px 0 #AAA, -4px 0 #AAA;
    background: #AAA; }
  h1:before, h1:after, h1 *, h1 *:before, h1 *:after {
    text-shadow: none; }

h2 {
  margin: 0.2em 0 0.4em;
  font-size: 2.4em; }

h3 {
  margin: 0.2em 0 0.4em;
  text-align: center;
  font-size: 1.8em; }

@media (max-width: 1024px) {
  h1 {
    font-size: 2.6em; }

  h2 {
    font-size: 2em; }

  h3 {
    font-size: 1.4em; }
 }

@media (max-width: 667px) {
  h1 {
    font-size: 2em; }

  h2 {
    font-size: 1.6em; }

  h3 {
    font-size: 1.4em; }
 }

cd-page > img {
  width: 100%; }

li {
  margin: 0 0 0.5em; }

ul {
  margin: 0 0 0.5em;
  max-width: 42em; }

ul ul {
  margin: 0.5em 0; }

main {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #DDD;
  padding: 2em;
  background: white; }
  @media (max-width: 64rem) {
    main {
      border: 1px solid #EEE;
      margin: 0.5em; } }
  @media (max-width: 667px) {
    main {
      padding: 1em 0 0; } }

object {
  width: 100%;
  min-height: 540px; }

p {
  margin: 0 0 1em;
  max-width: 42em; }

main p {
  padding: 0 1em; }

cd-text-bubble p {
  padding: 0; }
  cd-text-bubble p:last-child {
    margin-bottom: 0; }

.center {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center; }

.vertical-center {
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.center-text {
  text-align: center; }

.caption {
  font-style: italic; }

.caution {
  color: #E62641;
  font-weight: bold;
  font-style: normal; }

.color-trican {
  color: #BBB0A6; }

.color-trican-light {
  color: rgba(187, 176, 166, 0.5); }

.color-red {
  color: #E62641; }

.color-brown {
  color: #4B3C30; }

.color-yellow {
  color: #B49402; }

.color-turquois {
  color: #44687D; }

.color-lt-grey {
  color: #AAA; }

.color-dk-grey {
  color: #3E4545; }

.color-dk-orange {
  color: #A74E15; }

.framed {
  border: 3px solid black; }

.framed + .framed {
  margin-left: 1em; }
  @media (max-width: 667px) {
    .framed + .framed {
      margin-left: 0; } }

.dark {
  color: #44687D; }

.light {
  color: white;
  text-shadow: 1px 1px #3E4545;
  background-color: #AAA;
  padding: 0.2em;
  color: white; }

.controls {
  font-size: 0.9em;
  color: #3E4545; }

.legend {
  display: inline-block;
  padding: 0.5em;
  margin: 0 0 1em;
  background: rgba(187, 176, 166, 0.5); }
  .legend td {
    font-size: 1.2em;
    font-weight: 600;
    padding: 5px; }
  .legend img {
    margin: 0; }

.tall-child > * {
  width: auto;
  max-width: 100%;
  max-height: 80vh; }
@media (max-width: 667px) {
  .tall-child {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center; } }

.callouts {
  position: relative; }
  .callouts .labels {
    display: inline-block;
    position: absolute;
    font-weight: 500;
    text-align: center; }

cd-text-bubble {
  background-color: #B49402;
  max-width: 42em; }

body {
  height: 100%; }

em {
  color: #44687D;
  font-weight: bold;
  font-style: normal; }

cd-text-bubble em {
  color: #4B3C30; }

figcaption {
  font-style: italic;
  color: #4B3C30; }

figure + figure {
  margin-left: 1em; }
  @media (max-width: 667px) {
    figure + figure {
      margin-left: 0; } }

h1 {
  font-family: serif;
  color: #A74E15; }

h2 {
  color: #3E4545; }

h3 {
  color: #4B3C30; }

html {
  font-size: 18px;
  font-family: sans-serif;
  background: #E9E6E3; }

img {
  width: 100%; }

ul {
  list-style-type: square; }

ul ul {
  list-style-type: circle; }

main {
  border-top: 1px solid #EFEDEB;
  border-bottom: 1px solid #E0DCD8; }
  @media (max-width: 64rem) {
    main {
      border: 1px solid #EFEDEB; } }

cd-text-bubble + p {
  margin-top: 1em; }

@media print {
  h1 {
    font-size: 2em; }

  h2 {
    font-size: 1.6em; }

  h3 {
    font-size: 1.4em; }

  html, body {
    background: none;
    margin: 0 !important;
    max-width: none !important; }

  cd-hud {
    display: none; }

  cd-page {
    max-width: none !important;
    width: auto;
    display: block;
    margin: 0 auto !important;
    page-break-after: always;
    box-shadow: none;
    border: 0; }

  main {
    display: block;
    margin: 0 auto !important;
    border: 0; }

  main + main {
    page-break-before: always; }
 }

cd-page#title main {
  min-height: 20em; }
cd-page#title h1, cd-page#title h3 {
  margin: 0; }

cd-page#ending main {
  min-height: 20em; }
cd-page#ending h1, cd-page#ending h3, cd-page#ending p {
  margin: 0.2em auto;
  text-align: center; }

